//-----------------------------
//
// Angular view animate: stops the new page loading while the view transitions
//  
//-----------------------------

/*[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

[ui-view].ng-enter {
	opacity:0;
}*/

