.pageheader {
	padding:30px 0;
	&__logo {
		font-size:$font-size;
		line-height: 1.6;
		letter-spacing:0;
		font-weight:400;
		display: block;
		padding:0;
		margin:0;
		@include font-size($font-size);
	}

	&__nav {
		&__list {
			margin:0;
			&-item {
				
				list-style:none;
				display: inline-block;
				margin:0 rem($font-size) 0 0;
				a {
					color:$nav-color;
					text-decoration:none;
				}
			}
		}
	}
}